<div>{{ quantity() }}</div>

<select
  [ngModel]="quantity()"
  (change)="onQuantityChange($any($event.target).value)"
>
  <option disabled selected value="">Choose an option</option>
  <option *ngFor="let option of options()" [value]="option">
    {{ option }}
  </option>
</select>

<div>Vehicle {{ selectedVehicle().name }}</div>
<div>Vehicle Type: {{ selectedVehicle().type }}</div>
<div>Vehicle Price: {{ selectedVehicle().price | number : "1.2-2" }}</div>
<div style="font-weight: bold">
  Total: {{ calculatedPrice() | number : "1.2-2" }}
</div>
